:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e6e6e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  min-height: 100%;
  place-items: center;
  background-color: #e6e6e6;
  font-family: 'Inter';
  margin: 0 auto;
}
*{
  box-sizing: border-box;
}

.App {
  align-items: center;
  text-align: center;
  height: 100%;
  
}
.container{
  margin: 30px 30px 25px 30px;
  background-color: grey;
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 40px 60px 40px; ;
  
}
.list {
  border: 1px solid #ccc; 
  padding: 10px; 
  margin-bottom: 20px; 

}

.list h3 {
  font-size: 18px; 
  margin: 0; 
}

.list button {
  border: none; 
  padding: 10px; 

}

.list a{
  text-decoration: none; 
  color: #ffffff; 
  display: inline-block; 
  width: 150px; 
  white-space: nowrap; 
  text-overflow: ellipsis; 

}


.adding {
  /* display: flex; */
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #232323;
  margin-bottom: 20px;
}
.adding input{
  width: 80%;
  font-size: 16px;
  border: none;
  height: 40px; 
  box-shadow: 0 0 20px #eee;
  padding: 10px 7px 10px 7px;

}
input:focus{
  outline: none;

}

.adding button {
  font-size: 15px;
  padding: 0 20px 0 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 0;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  cursor: pointer;
  height: 40px;
}

button {
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-image: linear-gradient(to right, #84fab0 0%, #a6c1ee 51%, #84fab0 100%);

}
button:hover {
  background-position: right center;
  color: #676767;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;

  }
}
@media screen and (max-width: 767px) {
  .container {
    margin: 10px;
    padding: 0 20px 40px 20px;
  }
  .list {
    padding: 5px;
    margin-bottom: 10px;
  }
  .list h3 {
    font-size: 16px;
  }
  .list button {
    padding: 5px;
  }
  .list a {
    width: 100%;
  }
  .adding {
    padding: 20px;
    margin-bottom: 10px;
  }
  .adding input {
    width: 100%;
    font-size: 14px;
    height: 30px;
   
  }
  .adding button {
    font-size: 14;
    margin-top: 12px;
  }

}